
body{
    font-family: 'Fuzzy Bubbles', cursive;
    text-decoration-color: #134074;
    margin: 0;
    padding: 0;
}
header{
    justify-content: center;  
    height: 50px;
    padding: 10px;
    color: white;
    font-family: 'Whisper', cursive;
    border: 0px;
    display: flex;
    background-color: #8da9c4;
}
.main{
    padding: 5%;
    height: 640px;
    display: flex;
    background-color: #EEF4ED;
}
.data{
    display: flex;
}
nav {
    display: flex;
    width: 10%;
    padding-left: 5%;
    padding-right: 15%;
}

nav ul {
    text-align: center ;
    list-style-type: none;
    display: block;
    padding: 0px;

  }
a{
    text-decoration: none;
    color:#134074;
}

article{
    justify-content: center;
    text-align: left;
     width: 90%;
     padding-left: 20%;
     padding-top: 10%;

}
footer{
    padding: 10px;
    height: 40px;
    background-color: #8da9c4;
    text-align: center;
    width: 100%;
    bottom: 0px;
}
