body{
    font-family: 'fuzzy Bubbles', cursive;
    text-decoration-color: black;
    background-color: #469B72;
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    color: white;
    display: flex;
    background-color: #1D152D;
}
.main{
    display: flex;
    height: 830px;

}
nav{
    display: flex;
    justify-content: center;
    width: 10%;
    padding: 5%;
}
nav ul{
    text-align: center;
    list-style-type: none;
    display: block;
}
a{
    text-decoration: none;
    color: black
}
.galery{
    padding-left: 10;
    margin: 50px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:25px;
}
.galeri img{
        width: 15%;
        height: 10%;
        border: 4px solid #575D63;
        padding: 10px;
}
footer{
    padding: 10px;
    height: 50px;
    background-color: #1D152D;
    text-align: center;
    bottom: 0px;
    color: white;
}
