
body{
    font-family: 'Fuzzy Bubbles', cursive;
    text-decoration-color: brown;
    opacity: 0.7;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(/assets/gambar/download.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    justify-content: center;  
    height: 100px;
    color: white;
    font-family: 'Whisper', cursive;
    display: flex;
    background-color: rgb(0, 0, 0);

}
h2{
    text-decoration-color: rgb(255, 255, 255);
}
.main{
    display: flex;
    height: 800px;
    background-color: rgb(0, 0, 0);

}
nav {
    display: flex;
    justify-content:  center;
    align-items: center;
    width: 20%;
    padding: 2%;

}

nav ul {
    text-align: center ;
    list-style-type: none;
    display: block;
    padding: 0px;

  }
a{
    text-decoration: none;
    color: #ffffff;
}

article{
    justify-content: center;
    align-items: center;
    padding: 10%;
    width: 80%;
    color: rgb(255, 255, 255);
}

footer{
    justify-content: center;
    height: 125px;
    color: rgb(255, 255, 255) ;
    display: flex;
    background-color: black;

}
