body{
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: #D5D7CC;
    text-decoration-color: brown;
    margin: 0;
    padding: 0;
}
header{
    justify-content: center;  
    height: 70px;
    color: white;
    font-family: 'Whisper', cursive;
    border: 0px;
    display: flex;
    background-color: #8daaa6;
}
h2{
    text-decoration-color: brown;
}
.main{
    display: flex;
    padding: 0;
    height: 820px;
    background-color: #D5D7CC;
}
nav {
    display: flex;
    justify-content:  center;
    align-items: center;
    width: 20%;;
    padding: 2%;
}

nav ul {
    text-align: center ;
    list-style-type: none;
    display: block;
    padding: 0px;

  }
a{
    text-decoration: none;
    color: #48404D;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 80%;
    color: #51777c;
}   
.kontak{
    text-align: left;
    border-left: 15%;
    text-decoration: bold;
    font-size: large;
}
footer{
    text-align: center;
    padding: 10px;
    height: 40px;
    color: rgb(255, 255, 255) ;
    background-color: #8daaa6;
    bottom: 0px;

}
